{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Bienvenue{% endblock %}

{% block body %}

    <section class="container">
        <h1>Bienvenue chez nous !</h1>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam reprehenderit eius placeat iure asperiores totam error a, praesentium quod atque. Sapiente fugit placeat ab reprehenderit praesentium animi saepe dicta possimus consequatur commodi iste provident magnam nam error maiores perspiciatis, at repellat. Perspiciatis nemo, fugit odio voluptatem odit repellat placeat fuga.</p>
            <p>Et, assumenda nihil. Animi deserunt sed similique iure, earum sapiente eligendi quod corporis repudiandae totam dolorem, fuga magnam perspiciatis tenetur obcaecati itaque soluta esse pariatur quia commodi quo, odio illo amet! Officiis maxime cum eius commodi ipsum veniam labore. Deleniti nihil quisquam ab distinctio numquam consequuntur repudiandae sed dicta illo.</p>
        </div>
    </section>

{% endblock %}
